.top {
    background-image: $background;
}

//===================
//ナビゲーション
//===================

.top__nav {
    margin: 40px auto 0;
    max-width: 1200px;
}

.top__nav__inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top__nav__item {
    border-left: 1px solid #8E8E8E;

    &:hover {
        background-color: #D53633;
        color: white;
        border-left: 1px solid white;
        z-index: 10;

        &+.top__nav__item {
            border-left: 1px solid white;
        }
    }

    &:first-of-type {
        border-left: none;
    
        &:hover {
            border-left: none;
        }
    }

}

.top__nav__link {
    padding: 55px 0 13px;
    font-size: 20px;
    color: #231815;
    font-weight: $bold;
    line-height: 1.6;
    width: 240px;
    text-align: center;
    display: block;
    background-size: 46px 46px;
    background-repeat: no-repeat;
    background-position: top 9px center;
    
    &.fee {
        background-image: url(../images/top/info/fee.png);
        &:hover {
            background-image: url(../images/top/info/fee_on.png);
        }
    }
    &.openingHour {
        background-image: url(../images/top/info/openingHour.png);
        &:hover {
            background-image: url(../images/top/info/openingHour_on.png);
        }
    }
    &.access {
        background-image: url(../images/top/info/access.png);
        &:hover {
            background-image: url(../images/top/info/access_on.png);
        }
    }
    &.bus {
        background-image: url(../images/top/info/bus.png);
        &:hover {
            background-image: url(../images/top/info/bus_on.png);
        }
    }
    &.app {
        background-image: url(../images/top/info/app.png);
        &:hover {
            background-image: url(../images/top/info/app_on.png);
        }
    }
}

//===================
//コンセプト
//===================
.top__concept {
    margin-top: 73px;
}

.top__concept__catch {
    position: relative;

    .male-lion {
        width: 313px;
        height: 313px;
        display: block;
        position: absolute;
        top: -31px;
        right: calc(50% + 293px);
    }

    .female-lion {
        width: 270px;
        height: 270px;
        display: block;
        position: absolute;
        top: -31px;
        left: calc(50% + 293px);
    }
    h1 {
        text-align: center;
        font-weight: $black;
        line-height: 1.4;
        color: black;
        filter: drop-shadow(0 6px 6px rgba(#533617, 0.25));
        span {
            display: block;
            font-size: 36px;
        }

        .h1-large {
            font-size: 60px;
        }
    }
}

.top__concept__image {
    position: relative;
    margin: 119px auto 0;
    width: 1000px;

    .img-layer {
        margin: 0 auto;
        width: 100%;
        height: auto;
        display: block;
    }

    .img-animal1 {
        width: 243px;
        height: auto;
        position: absolute;
        top: -10px;
        left: -100px;
        display: block;
    }

    .img-title {
        width: 500px;
        height: auto;
        position: absolute;
        top: -15px;
        left: calc(50vw - 50%);
        display: block;
    }

    .img-splash {
        width: 292px;
        height: auto;
        position: absolute;
        top: -10px;
        right: 40px;
        display: block;
    }

    .img-animal2 {
        width: 198px;
        height: auto;
        position: absolute;
        top: 77px;
        right: -111px;
        display: block;
    }
}

.top__concept__movie {
    margin: 84px auto 0;
    width: 1000px;
}

.top__concept__link {
    display: block;
    margin: 39.5px auto 0;
    border-radius: 30px;
    background-color: #000;
    color: white;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: $medium;
    line-height: 2;
    width: 290px;
    text-align: center;
}


//===================
//　施設案内
//===================
.top__facilities {
    margin-top: 171px;
}

.top__facilitiesItem {
    &--bath {
        background: linear-gradient(90deg, rgba(#DA2B2B, 100), rgba(#DA2B2B, 0)), url(../images/top/facilities/bath.png)
    }

    &--sauna {
        background: linear-gradient(90deg, rgba(#DA2B2B, 100), rgba(#DA2B2B, 0)), url(../images/top/facilities/bath.png)
    }

    &--bedrock {
        background: linear-gradient(90deg, rgba(#DA2B2B, 100), rgba(#DA2B2B, 0)), url(../images/top/facilities/bath.png)
    }

    &--food {
        background: linear-gradient(90deg, rgba(#DA2B2B, 100), rgba(#DA2B2B, 0)), url(../images/top/facilities/bath.png)
    }

    &--relaxation {
        background: linear-gradient(90deg, rgba(#DA2B2B, 100), rgba(#DA2B2B, 0)), url(../images/top/facilities/bath.png)
    }
}


//===================
// 共通パーツ
//===================
.top__sectionTitle {
    font-family: "Roboto Condensed", serif;
    font-weight: 900;
    color: #C19962;
    text-shadow: 0px 2px 1px #eee;
    text-align: center;
    font-size: 60px;
    line-height: 1.4;

    span {
        display: block;
        font-family: "Zen Kaku Gothic New", serif;
        font-weight: $bold;
        color: #231815;
        box-shadow: none;
        font-size: 14px;
    }
}