/*
色指定
*/
$base: #333333;
$darkBlue: #456568;
$lightblue: #697F82;
$accent: #49828C;
$lightGray: #F5F5F5;
$red: #761111;
$bgBaige: #F1EFE9;
$bgBlack: #0C132C;
$bgGray: #F7F6F5;
$alert: #DA2B2B;
$orange: #FF7A59;
$inputBg: #D9D9D9;
$tableHead: #CCCCCC;
$dt: #FAFAFA;
$tableBorder: #D1d1d1;
$cautionBg: #F3DCDE;
$foodText: #383838;
$shopListBorder: #66949D;
$modalBg: #F8F3EE;
$contactStepBg: #FAFAFA;
$contactStep: #373737;