.comingsoon__content {
    width: 1000px;
    margin: 100px auto 0;

    h3 {
        color: $accent;
        text-align: center;
        font-size: 40px;
    }

    p {
        text-align: center;
    }
}