.footer__image {
    aspect-ratio: 1920/640;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.footer__inner {
    background-color: black;
    padding-top: 77px;
    padding-bottom: 19px;
}

.footer__logo {
    display: block;
    text-align: center;
}

.footer__menues {
    display: grid;
    max-width: 830px;
    grid-template-columns: repeat(4, 1fr);
    margin: 35px auto 0;
    
    a {
        color: white;
        font-weight: $regular;
        font-size: 14px;
    }
    img {
        width: 18px;
        height: 18px;
        margin-left: 7px;
        display: inline-block;
    }
}

.footer__copyright {
    margin-top: 134px;
    text-align: center;
    font-size: 12px;
    font-weight: $regular;
    color: #A6A6A6;
}