.header {
    width: 100%;
}

.header__top {
    background-color: white;
    height: 90px;
}

.header__logo {
    width: 132px;
    height: 72px;
    margin: 12px auto 6px;
}

.header__menues {
    float: right;
    display: flex;
    justify-content: end;
    padding-right: 4px;
    align-items: center;
}

.header__menuItem {
    margin-right: 29px;
}

//=====================
//.header__menuesの中身
//=====================
.header__access {
    background-image: url(../images/header/pin.svg);
    background-repeat: no-repeat;
    padding-left: 21px;
    background-position: left center;
    background-size: 14px 18px;
}

.header__button {
    border: 1px solid #4B4B4B;
    border-radius: 40px;
}

.header__nav {

}