// ------------
// background
// ------------
$background: url(../images/background.jpg);

// ------------
// colors
// ------------
$main: #D53633;
$black: #000000;

// ------------
// fonts
// ------------
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;